{{!-- add a form to edit post
 <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

    -add text area with post.body
    -need onSubmit event listener

    connect edit-post.handlebars to edit-post.js
 --}}